@*@model IEnumerable<doan.Models.Khachhang>*@ 
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<doan.Models.Khachhang>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>

            <span class="breadcrumb-item active">Danh sách khách hàng : trang @CurrentPage </span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        @*<div class="row m-b-30">
            <div class="col-lg-12">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 180px;">
                            <option selected>Catergory</option>
                            <option value="all">All</option>
                            <option value="homeDeco">Home Decoration</option>
                            <option value="eletronic">Eletronic</option>
                            <option value="jewellery">Jewellery</option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" style="min-width: 180px;">
                            <option selected>Status</option>
                            <option value="all">All</option>
                            <option value="inStock">In Stock </option>
                            <option value="outOfStock">Out of Stock</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>*@
        @*<div class="row m-b-30">
            <div class="col-md-8">
            </div>

            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminKhachhangs" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm khách hàng</span></a>

            </div>
        </div>*@
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Ngày sinh</th>
                        <th> Giới tính</th>
                        <th>Địa chỉ</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)

                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.MaKh
                                </td>
                                <td>
                                    @item.TenKh
                                </td>
                                <td>@item.SoDienThoai</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.NgaySinh)</td>
                                <td>@item.GioiTinh</td>
                                <td>@item.DiaChi</td>


                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminKhachhangs" asp-action="Details" asp-route-id="@item.MaKh">Chi tiết</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminKhachhangs" asp-action="Edit" asp-route-id="@item.MaKh">Sửa</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminKhachhangs" asp-action="Delete" asp-route-id="@item.MaKh">Xóa</a>


                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminKhachhangs" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
