@model doan.Models.Nhanvien 

@{
    ViewData["Title"] = "Thông tin nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminNhanviens" asp-action="Index">Danh sách nhân viên</a>
            <span class="breadcrumb-item active">Thông tin nhân viên</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin nhân viên</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.MaNv</td>
                    </tr>
                    <tr>
                        <td>Tên khách hàng:</td>
                        <td>@Model.TenNv</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td>@Model.SoDienThoai</td>
                    </tr>
                    <tr>
                        <td>Ngày sinh:</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.NgaySinh)</td>
                    </tr>
                    <tr>
                        <td>Giới tính:</td>
                        <td>@Model.GioiTinh</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Model.DiaChi</td>
                    </tr>
                    <tr>
                        <td>Ngày vào làm:</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.NgayVaoLam)</td>
                    </tr>
                    <tr>
                        <td>Chức vụ:</td>
                        <td>@Model.ChucVu</td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>
@*<h1>Details</h1>

    <div>
        <h4>Nhanvien</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TenNv)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TenNv)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SoDienThoai)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NgaySinh)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NgaySinh)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.GioiTinh)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.GioiTinh)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DiaChi)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NgayVaoLam)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NgayVaoLam)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ChucVu)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ChucVu)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.MaNv">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
