@model IEnumerable<doan.Models.Nhanvien> 

@{
    ViewData["Title"] = "Danh sách nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>

            <span class="breadcrumb-item active">Danh sách nhân viên</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
            </div>

            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminNhanviens" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm nhân viên</span></a>

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Tên nhân viên</th>
                        <th>SDT</th>
                        <th>Ngày sinh</th>
                        <th> Ngày vào làm</th>
                        
                        <th>Địa chỉ</th>

                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)

                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.MaNv
                                </td>
                                <td>
                                    @item.TenNv
                                </td>
                                <td>@item.SoDienThoai</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.NgaySinh)</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", item.NgayVaoLam)</td>

                                
                                <td>@item.DiaChi</td>


                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminNhanviens" asp-action="Details" asp-route-id="@item.MaNv">Chi tiết</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminNhanviens" asp-action="Edit" asp-route-id="@item.MaNv">Sửa</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminNhanviens" asp-action="Delete" asp-route-id="@item.MaNv">Xóa</a>


                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            
        </div>
    </div>
</div>
