@model doan.Models.Sanpham 

@{
    ViewData["Title"] = "Xác nhận xóa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminSanphams" asp-action="Index">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Xác nhận xóa sản phẩm</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xác nhận xóa sản phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.MaSp</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td>@Model.TenSp</td>
                    </tr>
                    <tr>
                        <td>Giá tiền:</td>
                        <td>@Model.GiaTien.Value.ToString("#,##0") VNĐ</td>
                    </tr>
                    <tr>
                        <td>Số lượng còn:</td>
                        <td>@Model.SoLuong</td>
                    </tr>
                    <tr>
                        <td>Thuộc danh mục:</td>
                        <td>@Model.MaDanhMucNavigation.TenDanhMuc</td>
                    </tr>
                    <tr>
                        <td>Mô tả sản phẩm:</td>
                        <td>@Model.MoTa</td>
                    </tr>
                    <tr>
                        <td>Tên nhà cung cấp:</td>
                        <td>@Model.MaNccNavigation.TenNcc</td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="MaSp" />
                                <input type="submit" value="Xóa" class="btn btn-danger" /> 
                                
                            </form>
                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>



